<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @note.name %>
</p>

<p>
  <b>Title:</b>
  <%= @note.title %>
</p>

<p>
  <b>Description:</b>
  <%= @note.description %>
</p>


<%= link_to 'Edit', edit_category_note_path(@category,@note) %> |
<%= link_to 'Back', category_notes_path(@category) %>
